body {
	background-color: #fafafa;
	font-family: "Ubuntu";
}

#header > div {
	background-image: url("../images/stars.png");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
	color: #4d4d4d;
	font-weight: light;
}

#main-search button.btn-custom {
	color: #555;
	background-color: #fafafa;
}

#main-search input[type=search] {
	background-color: #f0f0f0;
	background-image: url("../images/search.png");
	background-position: 95%;
	background-repeat: no-repeat;
	color: #888;
}

#main-search input[type=search]::placeholder {
	color: #b3b3b3;
	font-weight: light;
}

.form-control:focus {
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);

}

div#communities {
	background-color: #ececec;
	margin-top: 100px;
	padding: 30px 0;
}

#communities div.community a {
	display: block;
	padding: 10px 0px;
	color: #444;
}

#communities div.community a h4 {
	margin-top: 6px;
}

#communities div.community a:hover {
	text-decoration: none;
	color: #444;
	border-radius: 4px;
	background-color: #ddd;
}

#communities div.community .flag {
	height: 2.4rem;
	width: 3.2rem;
}

div#population p.chart-info {
	color: #5d5d5d;
}

div#population div.progress {
	height: 10px;
}

.active-players {
	color: #afdde9;
}

.inactive-players {
	color: #808080;
}

.banned-players {
	color: #ffaaaa;
}

.active-players-bg {
	background-color: #afdde9;
}

.inactive-players-bg {
	background-color: #808080;
}

.banned-players-bg {
	background-color: #ffaaaa;
}

footer#footer nav {
}
